/* src/App.css */
body, html, #root {
  /* height: 100%; */
  width:100%;
  margin: 0;
}

.student {
  /* height: 100%; */
}

.student {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: row;
  /* width: 100vw; */
}
